[Unit]
Description=Hourly ERPNext database backup (%i)

[Timer]
OnCalendar=hourly
Persistent=true
Unit=erpnext-backup-db@%i.service

[Install]
WantedBy=timers.target
